In [ ]:
sysuse uslifeexp2, clear

(U.S. life expectancy, 1900-1940)

In [ ]:
*%quietly
list in 1/1, noobs clean
disp "hello"

In [ ]:
*%echo
list in 1/1, noobs clean
disp "hello"

. list in 1/1, noobs clean

    year     le
    1900   47.3

. disp "hello"
hello

.

In [ ]:
forval i = 1/2 {
    list in `i', noobs clean
}

    year     le
    1900   47.3

    year     le
    1901   49.1

In [ ]:
program define display1
    list in 1/1, noobs clean
end

In [ ]:
display1
program list display1

    year     le
    1900   47.3

display1:
  1. list in 1/1, noobs clean

In [ ]:
capture program drop display1
program display1
    list in 1/1, noobs clean
end

In [ ]:
capture program drop display1
pr display1
    list in 1/1, noobs clean
end

In [ ]:
capture program drop display1
n program define display1
    list in 1/1, noobs clean
end

  1. list in 1/1, noobs clean
  2. end

In [ ]:
pr l display1

display1:
  1. list in 1/1, noobs clean

In [ ]:
capture program drop ender
program define ender
    list in 2/2, noobs clean
end
capture program drop display2
program define display2
    ender
end
display2

    year     le
    1901   49.1

In [ ]:
list in 1/1
python: print("hello")

     +-------------+
     | year     le |
     |-------------|
  1. | 1900   47.3 |
     +-------------+
hello

In [ ]:
python:
print("hello")
end

hello

In [ ]:
mata: display("hello")
list in 1/1

hello

     +-------------+
     | year     le |
     |-------------|
  1. | 1900   47.3 |
     +-------------+

In [ ]:
mata:
display("hello")
end

. mata:
------------------------------------------------- mata (type end to exit) -----
: display("hello")
hello

: end
-------------------------------------------------------------------------------

.

In [ ]:
disp "start"
#delimit;
disp "hello"; disp "hello2";
disp 
    "hello2a";
#delimit cr
disp "hello3"
disp "hello4"
#delimit;

start
hello
hello2
hello2a
hello3
hello4

In [ ]:
#delimit ;
disp "hello";
#delimit cr

hello

In [ ]:
* Should have no output
quietly {
    list in 1/1, noobs clean
}

In [ ]:
* Should have no output
capture {
    list in 1/1, noobs clean
}

In [ ]:
capture program drop display1
program display1
#delimit;
    list in 1/1, noobs clean;
end;
display1;

    year     le
    1900   47.3

In [ ]:
disp "test output"

test output

In [ ]:
*%browse

,year,le
1,1900,47.299999
2,1901,49.099998
3,1902,51.5
4,1903,50.5
5,1904,47.599998
6,1905,48.700001
7,1906,48.700001
8,1907,47.599998
9,1908,51.099998
10,1909,52.099998
11,1910,50.0
12,1911,52.599998
13,1912,53.5
14,1913,52.5
15,1914,54.200001
16,1915,54.5
17,1916,51.700001
18,1917,50.900002
19,1918,39.099998
20,1919,54.700001
21,1920,54.099998
22,1921,60.799999
23,1922,59.599998
24,1923,57.200001
25,1924,59.700001
26,1925,59.0
27,1926,56.700001
28,1927,60.400002
29,1928,56.799999
30,1929,57.099998
31,1930,59.700001
32,1931,61.099998
33,1932,62.099998
34,1933,63.299999
35,1934,61.099998
36,1935,61.700001
37,1936,58.5
38,1937,60.0
39,1938,63.5
40,1939,63.700001
41,1940,62.900002

In [ ]:
*%help obs

This front-end cannot display HTML help.